Q1. List any five functions of the pandas library with execution.

Ans1-- 

1.   read_csv(): This function is used to read a CSV file and create a DataFrame from it.

2.  groupby(): This function is used to group the data in a DataFrame based on one or more columns and apply a function to each group.

3.  dropna(): This function is used to remove rows or columns with missing values from a DataFrame.

4.   sort_values(): This function is used to sort the rows of a DataFrame based on one or more columns.

5.   merge(): This function is used to merge two DataFrames based on one or more columns.

In [ ]:
# read_csv()
import pandas as pd

df = pd.read_csv('data.csv')

print(df.head())

In [2]:
#groupby()
import pandas as pd

df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Bob', 'Alice'], 'Age': [25, 30, 35, 30, 25], 'Salary': [50000, 60000, 70000, 55000, 45000]})

grouped = df.groupby('Name').mean()

print(grouped)

          Age   Salary
Name
Alice    25.0  47500.0
Bob      30.0  57500.0
Charlie  35.0  70000.0

In [3]:
#dropna()
import pandas as pd

df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, None, 35], 'Salary': [50000, 60000, None]})

df = df.dropna()

print(df)

    Name   Age   Salary
0  Alice  25.0  50000.0

In [4]:
#sort_values()
import pandas as pd

df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]})

df = df.sort_values('Age')

print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [5]:
#merge()
import pandas as pd

df1 = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]})
df2 = pd.DataFrame({'Name': ['Bob', 'Charlie', 'Dave'], 'Salary': [60000, 70000, 80000]})

merged = pd.merge(df1, df2, on='Name')

print(merged)

      Name  Age  Salary
0      Bob   30   60000
1  Charlie   35   70000

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [6]:
import pandas as pd

def reindex_dataframe(df):
    n = len(df)

    new_index = pd.Index(range(1, 2*n, 2))

    df = df.reindex(new_index)

    return df

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df = reindex_dataframe(df)
print(df)

     A    B    C
1  2.0  5.0  8.0
3  NaN  NaN  NaN
5  NaN  NaN  NaN

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [7]:
import pandas as pd

def sum_first_three(df):
    values = df['Values']

    sum_first_three = sum(values[:3])

    print('Sum of the first three values:', sum_first_three)

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [8]:
import pandas as pd

def add_word_count(df):
    words = df['Text'].str.split()

    word_count = words.apply(len)

    df['Word_Count'] = word_count

    return df

df = pd.DataFrame({'Text': ['This is a sentence.', 'Another sentence with more words.', 'One more sentence.']})
df = add_word_count(df)
print(df)

                                Text  Word_Count
0                This is a sentence.           4
1  Another sentence with more words.           5
2                 One more sentence.           3

Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans5-- DataFrame.size returns the total number of elements in the DataFrame, which is equivalent to the number of rows times the number of columns. It is equivalent to calling DataFrame.shape[0] * DataFrame.shape[1].

On the other hand, DataFrame.shape returns a tuple that contains the number of rows and columns in the DataFrame, respectively. It is equivalent to calling (DataFrame.shape[0], DataFrame.shape[1]).

In [9]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

print('Size of the DataFrame:', df.size)
print('Shape of the DataFrame:', df.shape)

Size of the DataFrame: 9
Shape of the DataFrame: (3, 3)

Q6. Which function of pandas do we use to read an excel file?

Ans6-- To read an Excel file using pandas, we use the pandas.read_excel() function. This function takes the path to the Excel file as an argument and returns a Pandas DataFrame containing the data from the file.

In [ ]:
import pandas as pd

df = pd.read_excel('example.xlsx')

print(df)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [11]:
import pandas as pd

def extract_username(df, email_column):
    df['Username'] = df[email_column].apply(lambda x: x.split('@')[0])
    return df

df = pd.DataFrame({'Email': ['jassi.singh@gmail.com', 'jassi.shodi@gmail.com', 'jassi.shodi2210@gmail.com']})

df = extract_username(df, 'Email')

print(df)

                       Email         Username
0      jassi.singh@gmail.com      jassi.singh
1      jassi.shodi@gmail.com      jassi.shodi
2  jassi.shodi2210@gmail.com  jassi.shodi2210

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [12]:
import pandas as pd

def select_rows(df):

    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    
    return selected_rows

df = pd.DataFrame({
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
})

selected_df = select_rows(df)

print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [13]:
import pandas as pd
import numpy as np

def calculate_stats(df):
    mean = np.mean(df['Values'])
    median = np.median(df['Values'])
    std_dev = np.std(df['Values'])
    
    print('Mean:', mean)
    print('Median:', median)
    print('Standard Deviation:', std_dev)
df = pd.DataFrame({'Values': [1, 2, 3, 4, 5]})
calculate_stats(df)

Mean: 3.0
Median: 3.0
Standard Deviation: 1.4142135623730951

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [14]:
import pandas as pd

def add_moving_average_column(df):
    window_size = 7
    df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()
    return df

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [15]:
import pandas as pd

def add_weekday(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.strftime('%A')
    return df
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df = add_weekday(df)
print(df)

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [16]:
import pandas as pd

def select_dates_between(df):
    df['Date'] = pd.to_datetime(df['Date'])

    mask = df['Date'].between('2023-01-01', '2023-01-31')
    selected_rows = df[mask]
    
    return selected_rows

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

Ans13-- The first and foremost necessary library that needs to be imported to use the basic functions of pandas is the pandas library itself. It is typically imported using the statement import pandas as pd.