Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:


data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27 ],
    'Gender': ['Male', 'Female', 'Male']
}


Then, print the DataFrame.

In [4]:
import pandas as pd

data = { 'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27 ], 'Gender': ['Male', 'Female', 'Male'] }

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25    Male
1     Bob   30  Female
2  Claire   27    Male

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans4-- In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. It is the most commonly used data structure in Pandas, and it can be thought of as a table or spreadsheet-like data structure. A DataFrame can be created using various sources such as CSV, Excel, SQL databases, or by converting other data structures like a Python dictionary, list, or Pandas Series.

A Pandas Series, on the other hand, is a one-dimensional labeled data structure that can hold any data type. It can be thought of as a single column in a DataFrame.

The key difference between a Pandas DataFrame and Series is their dimensionality. While a Series has only one dimension (either rows or columns), a DataFrame has two dimensions (both rows and columns). In other words, a DataFrame can be thought of as a collection of Pandas Series, where each Series represents a column in the DataFrame.

In [5]:
import pandas as pd

# Create a Pandas Series
s = pd.Series([1, 3, 5, 7, 9])

# Create a Pandas DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 32, 18, 47],
    'City': ['New York', 'Paris', 'London', 'San Francisco']
})

# Print the Series and DataFrame
print(s)
print(df)

0    1
1    3
2    5
3    7
4    9
dtype: int64
      Name  Age           City
0    Alice   25       New York
1      Bob   32          Paris
2  Charlie   18         London
3    David   47  San Francisco

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans5-- Pandas offers a variety of functions to manipulate data in a DataFrame. Here are some common functions that are frequently used:

head() and tail(): These functions allow you to view the top and bottom rows of a DataFrame. By default, head() returns the first five rows of the DataFrame, while tail() returns the last five rows. For example, df.head() would return the first five rows of the DataFrame df.

describe(): This function provides a summary of the statistical measures of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles. For example, df.describe() would return the statistical summary of the DataFrame df.

info(): This function provides information about the DataFrame, such as the number of non-null values, data types, and memory usage. For example, df.info() would return information about the DataFrame df.

groupby(): This function allows you to group the data in the DataFrame based on one or more columns and apply a function to each group. For example, df.groupby('City').mean() would group the data in the DataFrame df by the 'City' column and calculate the mean of the other columns for each group.

sort_values(): This function allows you to sort the rows of the DataFrame based on one or more columns. For example, df.sort_values('Age', ascending=False) would sort the rows of the DataFrame df in descending order based on the 'Age' column.

drop(): This function allows you to remove one or more columns or rows from the DataFrame. For example, df.drop('City', axis=1) would remove the 'City' column from the DataFrame df.

fillna(): This function allows you to fill the missing values in the DataFrame with a specified value or method, such as the mean or median. For example, df.fillna(method='ffill') would fill the missing values in the DataFrame df with the previous value in the same column.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans6-- In Pandas, both Series and DataFrame are mutable objects, meaning you can modify their contents after creation. However, Panel objects are no longer recommended for use in Pandas version 1.0 and above, as their functionality has been moved to other objects such as MultiIndex DataFrames. Therefore, Panels are no longer considered a core Pandas data structure.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [6]:
import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
salaries = pd.Series([50000, 60000, 70000])

df = pd.concat([names, ages, salaries], axis=1)

df.columns = ['Name', 'Age', 'Salary']

print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000