In [6]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [7]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans2-- 


1.   loc is a label-based indexer, which means that you use labels or names to select rows and columns from the DataFrame. 

2.   iloc is an integer-based indexer, which means that you use integer positions to select rows and columns from the DataFrame.

In [9]:
new_df = df.reindex([3, 0, 1, 2])
print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [10]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [11]:


#finding the mean of each column
mean = df1.mean(axis=0)
print("Mean of each column:\n", mean)

#finding the standard deviation of column_2
std_dev = df1['column_2'].std()
print("\nStandard deviation of column_2:", std_dev)

Mean of each column:
 column_1    0.453232
column_2    0.515086
column_3    0.328888
column_4    0.415473
column_5    0.537507
column_6    0.346291
dtype: float64

Standard deviation of column_2: 0.38882317427033963

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [14]:


# Replacing the data in the second row of column 'column_2' by a string variable:
df1.loc[2, 'column_2'] = 'string_data'

# Finding the mean of column 'column_2':
mean_col2 = df1['column_2'].mean()

print("Mean of column 'column_2':", mean_col2)

## This code will give an error because the dtype of column 'column_2' has been changed from float to object due to the assignment of string data. 
## The mean function cannot be applied to an object dtype, so it will raise a TypeError.

TypeError: ignored

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Ans6-- In pandas, a window function is a way of applying a calculation to a specific subset of a larger dataset, typically a moving window of consecutive rows. It allows us to perform calculations on data points within a sliding window that "moves" across the data. This technique is useful in time-series analysis, signal processing, and many other applications.

There are various types of window functions available in pandas:

1.Rolling: It returns a rolling window object that allows the calculation of the rolling window aggregation of the input.

2.Expanding: It returns an expanding window object that allows the calculation of the expanding window aggregation of the input.

3.Exponentially weighted moving window: It is similar to the rolling window, but the window is specified in terms of an exponential decay factor.

4.Rolling with time-based window: It returns a rolling time-based window object that allows the calculation of the rolling window aggregation of the input.

5.GroupBy with rolling: It is similar to the rolling window, but it allows grouping of the data before applying the rolling calculation.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [15]:
from datetime import datetime

now = datetime.now()
print(f"Current month: {now.month}")
print(f"Current year: {now.year}")

Current month: 3
Current year: 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [16]:
import pandas as pd

# Prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input dates to datetime format
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the difference between the two dates
delta = date2 - date1

# Extract the number of days, hours, and minutes from the time delta
days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds % 3600) // 60

# Display the result
print("The difference between", date1.date(), "and", date2.date(), "is:")
print(days, "days,", hours, "hours,", "and", minutes, "minutes.")

Enter the first date (YYYY-MM-DD): 2022-02-12
Enter the second date (YYYY-MM-DD): 2023-03-11
The difference between 2022-02-12 and 2023-03-11 is:
392 days, 0 hours, and 0 minutes.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file
df = pd.read_csv(file_path)

# Prompt the user to enter the column name to convert to categorical data type
column_name = input("Enter the column name to convert to categorical data type: ")

# Prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated): ")

# Convert the column to categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order.split(","), ordered=True)

# Display the sorted data
print(df.sort_values(by=column_name))

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt user for file path
file_path = input("Enter file path: ")

# Read CSV file
df = pd.read_csv(file_path)

# Convert date column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Group by product category and date, and calculate sum of sales
sales_data = df.groupby(['Product Category', 'Date'])['Sales'].sum().reset_index()

# Create a pivot table to reshape the data for plotting
pivot_sales_data = sales_data.pivot(index='Date', columns='Product Category', values='Sales')

# Create stacked bar chart
pivot_sales_data.plot(kind='bar', stacked=True)

# Add title and axis labels
plt.title('Sales by Product Category over Time')
plt.xlabel('Date')
plt.ylabel('Sales')

# Display chart
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [19]:
import pandas as pd

# Prompt the user to enter the file path of the CSV file containing the student data
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores using Pandas tools
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode()

# Display the mean, median, and mode in a table
print("+-----------+--------+")
print("| Statistic | Value  |")
print("+-----------+--------+")
print("| Mean      | {:.1f}   |".format(mean))
print("| Median    | {}    |".format(int(median)))
print("| Mode      | ", end="")
for i in range(len(mode)):
    if i == len(mode)-1:
        print("{}  |".format(int(mode[i])), end="")
    else:
        print("{}, ".format(int(mode[i])), end="")
print("\n+-----------+--------+")

Enter the file path of the CSV file containing the student data: /content/Student ID,Test Score.csv
+-----------+--------+
| Statistic | Value  |
+-----------+--------+
| Mean      | 83.5   |
| Median    | 85    |
| Mode      | 85  |
+-----------+--------+